<footer class="footer">
    <div class="social-media">
        <a href="{{ site.baseurl }}/https://www.facebook.com/imobracing" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="{{ site.baseurl }}/https://twitter.com/imobracing" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="{{ site.baseurl }}/https://instagram.com/imobracing" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="{{ site.baseurl }}/https://youtube.com/imobracing" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <p>&copy; 2024 iMOB Racing. All rights reserved.</p>
    <p>Contact: info@imobracingonline.com | Phone: (530) 420-5850</p>
</footer>
