<footer class="footer">
    <div class="social-media">
        <a href="https://www.facebook.com/iMobRacing" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/iMobRacing" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/iMobRacing" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com/iMobRacing" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <p>&copy; 2024 iMOB Racing. All rights reserved.</p>
    <p>Contact: info@imobracingonline.com | Phone: (530) 420-5850</p>
</footer>
