<footer class="footer">
    <div class="social-media">
        <a href="https://www.facebook.com/iMobRacing" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/iMobRacing" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/iMobRacing" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com/iMobRacing" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <p>&copy; 2024 iMOB Racing. All rights reserved.</p>
    <p>Contact: info@imobracingonline.com | Phone: (530) 420-5850</p>
</footer>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" async></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
<script src="{{ site.baseurl }}/assets/js/config.js"></script>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
