<header class="header" id="home">
    <div class="video-overlay">
        <iframe id="youtube-iframe" src="https://www.youtube.com/embed/RPGg_y2FHNs?autoplay=1&mute=1&loop=1&playlist=RPGg_y2FHNs" title="Welcome Video" aria-label="Welcome Video"></iframe>
    </div>
    <div class="header-content">
        <div class="header-overlay">
            <h1 class="header-title">Welcome to iMOB Racing</h1>
            <p class="header-subtitle">Feel the Thrill of Racing</p>
            <a href="#about" class="cta-button" aria-label="Learn more about iMOB Racing">Learn More</a>
            <a href="login.html" class="cta-button subscribe-button" aria-label="Login">Login</a>
            <div class="social-proof">
                <p><i class="fas fa-users"></i> 10k followers on Instagram</p>
                <p><i class="fas fa-trophy"></i> Featured in Top Gear</p>
            </div>
        </div>
    </div>
</header>
