<nav class="navbar">
    <div class="navbar-container">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="{{ "/" | relative_url }}" class="logo">iMOB Racing</a>
        <ul class="main-nav" id="js-menu">
            <li><a href="{{ "/" | relative_url }}" class="nav-links">Home</a></li>
            <li><a href="{{ "/drivers/" | relative_url }}" class="nav-links">Drivers</a></li>
            <li><a href="{{ "/cars/" | relative_url }}" class="nav-links">Cars</a></li>
            <li><a href="{{ "/mission/" | relative_url }}" class="nav-links">Our Mission</a></li>
            <li><a href="{{ "/store/" | relative_url }}" class="nav-links">Store</a></li>
            <li><a href="{{ "/#contact" | relative_url }}" class="nav-links">Contact</a></li>
        </ul>
    </div>
</nav>
