<nav class="navbar">
    <div class="navbar-container">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="index.html" class="logo">iMOB Racing</a>
        <ul class="main-nav" id="js-menu">
            <li><a href="index.html" class="nav-links">Home</a></li>
            <li><a href="drivers.html" class="nav-links">Drivers</a></li>
            <li><a href="cars.html" class="nav-links">Cars</a></li>
            <li><a href="mission.html" class="nav-links">Our Mission</a></li>
            <li><a href="index.html#contact" class="nav-links">Contact</a></li>
        </ul>
    </div>
</nav>
